<span class="info-box-icon bg-{{background}}"><i class="fa fa-{{icon}}"></i></span>
<div class="info-box-content">
  <span class="info-box-text">{{text}}</span>
  <span class="info-box-number">{{count-upp endVal=number duration=1}}
    </span>
</div><!-- /.info-box-content -->
