<span class="info-box-icon bg-red"><i class="fa fa-{{icon}}"></i></span>
<div class="info-box-content">
  <span class="info-box-text">{{text}}</span>
  <span class="info-box-number">{{number}}</span>
</div><!-- /.info-box-content -->
