<div class="box box-info">
  <div class="box-header">
    <h3 class="box-title">Loading data</h3>
  </div>
  <div class="box-body">
    Hold on, were collecting some fresh data
  </div>
  <!-- /.box-body -->
  <!-- Loading (remove the following to stop the loading)-->
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!-- end loading -->
</div>
