<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            5. Nov. 2015
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-certificate bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 11:30</span>

            <h3 class="timeline-header"><a href="#">Support Team</a> ...</h3>

            <div class="timeline-body">
                Congrats to the Land der Ideen price
            </div>

            <!--<div class="timeline-footer">
                <a class="btn btn-primary btn-xs">...</a>
            </div>-->
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-clock-o bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:30</span>

            <h3 class="timeline-header"><a href="#">Course start</a> ...</h3>

            <div class="timeline-body">
                A new course will start soon
            </div>

            <!--<div class="timeline-footer">
                <a class="btn btn-primary btn-xs">...</a>
            </div>-->
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-clock-o bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 18:30</span>

            <h3 class="timeline-header"><a href="#">Course end</a> ...</h3>

            <div class="timeline-body">
                Every good cousre has a end
            </div>

            <!--<div class="timeline-footer">
                <a class="btn btn-primary btn-xs">...</a>
            </div>-->
        </div>
    </li>
    <!-- END timeline item -->

        <!-- timeline time label -->
      <li class="time-label">
          <span class="bg-aqua">
              6. Nov. 2015
          </span>
      </li>

      <li>
          <!-- timeline icon -->
          <i class="fa fa-clock-o bg-blue"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 18:30</span>

              <h3 class="timeline-header"><a href="#">Some more demo events</a> ...</h3>

              <div class="timeline-body">
                  Every good cousre has a end
              </div>

              <!--<div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div>-->
          </div>
      </li>
      <li>
          <!-- timeline icon -->
          <i class="fa fa-clock-o bg-blue"></i>
          <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> 18:30</span>

              <h3 class="timeline-header"><a href="#">Some more demo events</a> ...</h3>

              <div class="timeline-body">
                  Every good cousre has a end
              </div>

              <!--<div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">...</a>
              </div>-->
          </div>
      </li>
</ul>
